<mat-toolbar style="width: 100%" color="primary">Customer List</mat-toolbar>

<ag-grid-angular
  style="width: 1850px; height: 750px"
  class="ag-theme-alpine"
  [rowData]="rowData | async"
  [columnDefs]="columnDefs"
>
</ag-grid-angular>

<button
  *ngIf="rowData !== null"
  (click)="seeJson === true ? (seeJson = false) : (seeJson = true)"
  style="margin: 50px"
  mat-raised-button
  color="accent"
>
  JSON
</button>
<ng-container [ngClass]="{ 'hide-json': !seeJson, 'show-json': seeJson }">
  <pre>{{ rowData | async | json }}</pre>
</ng-container>
